@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  color: #051538;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 12px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #f7f7f7;
  height: 60px;
  background-color: #D8315B;
  font-size: 2rem;
}
.logo {
  /* width: 3%; */
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -0.5rem;
  align-items: center;
}
.svg-Row {
  margin-right: 15px;
  margin-top: -0.5rem;
  filter: invert(99%) sepia(3%) saturate(9%) hue-rotate(26deg) brightness(103%) contrast(94%);
  width: 20%;
}

.sidebar-nav {
  position: fixed;
  top: 61px;
  left: 0;
  width: 160px;
  background-color: #f7f7f7;
  color:#D8315B;
  align-items: center;
  text-align: center;
  border-right: 1px solid #dee2e6!important;
  height: 100vh;
  overflow-y : auto;
}
.sidebarText {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 5px;
}
/* TOP SEARCH SECTION ========================================================================== */
.top-search {
  position: fixed;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 40px;
  margin-left: 190px;
  height: 70px;
  min-width: calc(100% - 220px);
  z-index: 100;
}
.top-searchLeft {
  flex: .30;
  font-size: 20px;
  margin-top: 12px;
  color: #D8315B;
}

/* LIST ITEMS ================================================================================== */
.listContainer {
  position: fixed;
  width: 480px;
  top: 125px;
  margin-left: 185px;
  overflow-y: scroll;
  z-index: 100;
  height: 100vh;
}
.displayContainer {
  position: fixed;
  top: 125px;
  background-color: #f7f7f7;
  border: 2px solid #D8315B!important;
  min-height: calc(100% - 155px);
  min-width: calc(100% - 725px);
  max-width: calc(100% - 725px);
  margin-left: 695px;
  border-radius: 5px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
/* TITLE SECTION =============================================================================== */

.mytextdiv {
  display:flex;
  flex-direction:row;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 10px;
}
.mytexttitle {
  flex-grow: 0;
  font-size: 20px;
  color: #D8315B;
}
.divider {
  flex-grow: 1;
  height: 2px;
  background-color: #D8315B;
  border-radius: 5px;
}

button {
  color: #f7f7f7;
  border-radius: 5px;
  border: 2px solid #f7f7f7;
  background-color: #D8315B;
  padding:  7px 10px;
}

