@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  color: #051538;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: #f7f7f7;
  height: 60px;
  background-color: #D8315B;
  font-size: 2rem;
}
.logo {
  /* width: 3%; */
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -0.5rem;
  align-items: center;
}
.svg-Row{
  margin-right: 15px;
  margin-top: -0.8rem;
  filter: invert(99%) sepia(3%) saturate(9%) hue-rotate(26deg) brightness(103%) contrast(94%);
}


.sidebar-nav {
  position: fixed;
  top: 61px;
  left: 0;
  width: 160px;
  background-color: #f7f7f7;
  color:#D8315B;
  align-items: center;
  text-align: center;
  border-right: 1px solid #dee2e6!important;
  height: 100vh;
  overflow-y : auto;
}
.sidebarText {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.future {
  color: lightgray;
}
/* TOP SEARCH SECTION ========================================================================== */
.top-search {
  position: fixed;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 40px;
  margin-left: 190px;
  height: 70px;
  min-width: calc(100% - 220px);
  z-index: 1000;
}
.top-searchLeft {
  /* flex: .30;
  font-size: 20px; */
  margin-top: 12px;
  /* color: #D8315B; */
}
.top-button {
  margin-top: 10px;
}
.Select-menu-outer {
  z-index: 1001 !important;
}

/* LIST ITEMS ================================================================================== */
.listContainer {
  position:fixed;
  width: 480px;
  top: 135px;
  margin-left: 190px;
  overflow-y: scroll;
  z-index: 100;
  height: 100vh;
}
.listItems {
  color: #051538;
  font-size: 1.10rem;
  margin-bottom: 12px;
}

ul.no-bullets {
  display: block;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}
/* TITLE SECTION =============================================================================== */

.mytextdiv {
  display:flex;
  flex-direction:row;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 10px;
}
.mytexttitle {
  flex-grow: 0;
  font-size: 1.3rem;
  color: #D8315B;
}
.divider {
  flex-grow: 1;
  height: 2px;
  background-color: #D8315B;
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 3px;
}

button {
  color: #f7f7f7;
  border-radius: 5px;
  border: 2px solid #f7f7f7;
  background-color: #D8315B;
  padding:  7px 10px;
  min-height: 40px;
}
button:focus {
  outline: none;
 }


a {
  font-size: 1.05rem;
  font-weight: 400;
}
/* unvisited link */
a:link {
  color:#051538;
}

/* visited link */
a:visited {
  color: #051538;
}

/* mouse over link */
a:hover {
  color: #D8315B;
}

/* selected link */
a:active {
  color: #D8315B;
}
.links {
  color: #D8315B;
  font-weight: 500;
}


/* VIEWER SECTION ================================================================================== */
.videoContainer {
  position: fixed;
  top: 125px;
  height: calc(100% - 155px);
  width: calc(100% - 725px);
  margin-left: 695px;
  color: #051538;
  align-items: center;
}
.video-player {
  border: 2px solid #D8315B!important;
  border-radius: 5px;
  align-items: center;
  background-color: #f7f7f7;
  padding: 12px;
  margin-top: 15px;
}
.journalContainer {
  position: fixed;
  top: 145px;
  height: calc(100% - 175px);
  width: calc(100% - 725px);
  background-color: #f7f7f7;
  border: 2px solid #D8315B!important;
  border-radius: 5px;
  margin-left: 695px;
  color: #051538;
  align-items: center;
  overflow-y: scroll;
  z-index: 99;
}
.journal {
  align-items: center;
  padding: 12px;
}
.journalTitle {
 font-size: 1.3rem;
 color: #D8315B;
 margin-bottom: 12px;
 font-weight: 500;
}
.journalSubTitle .journalText {
  color: #051538;
}
.journalSubTitle {
font-size: 1.10rem;
font-weight: 500;
}
.journalNotes {
  display:inline;
}
.journalText {
  align-items: center;
  font-size: 1.10rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.stack {
   color: #D8315B;
}
.journalDiv {
  cursor: pointer;
  color: #D8315B;
  text-align: right;
  float:right;
  margin-top: -5px;
  margin-right: -5px;
}
/* CHECKBOXES USING FONT AWESOME================================================================ */
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

/* MODAL FORMATTING ============================================================================ */
.fa-times-circle {
  cursor: pointer;
  color: #D8315B;
  text-align: right;
  float:right
}
.form-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.form-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.4);
}
.form-modal-box {
  position: fixed;
  top: 60%;
  left: 60%;
  /* bring your own prefixes */
  transform: translate(-60%, -60%);
  background-color: white;
  border: #D8315B solid 2px;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px  #D8315B;
  z-index: 1101;
  padding: 10px;
  max-height: 100%;
  max-width: 100%;
  min-height: 35%;
  min-width: 35%;
  overflow-y: auto;
}
/* CREATE NEW CLASS FOR EACH SPECIFIC SIZE */
.newClass {
  height: 500px;
  width: 900px;
}
.form-modal-title {
 font-size: 1.3rem;
 color: #D8315B;
 margin-bottom: 12px;
 margin-top: -25px;
}

.form-modal-button {
    position:absolute;
    bottom:10px;
   left: 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  background-color: white;
  margin-bottom: 12px;
}
.form-modal-label-input {
  flex-basis: content;
  font-size: 1.3rem;
 color: #D8315B;
 margin-right: 1rem;
}
.form-modal-label-select {
  flex-basis: content;
  font-size: 1.3rem;
 color: #D8315B;
 margin-right: 1rem;
 margin-top: .85rem;
}
.form-modal-input {
  flex-grow: 1;
  min-height: 36px;
  max-height: 36px;
  border-color: #D8315B;
  border-width: 2px;
  border-radius: 5px;
   background-color: #f7f7f7;
  /* margin-top: 12px;  */
  vertical-align: middle;
  box-shadow: #D8315B;
  border-width: "2px";
  border-style:solid;
  color:#051538;
  font-size: 1.05rem;
  padding-left: 10px;
}
.form-modal-input:focus {
  outline: none;
}

/* IMG FORMATTING ============================================================================ */

.quill-img {
  width: 150px;
  height: 100px;
  border: 1px solid #000;
  margin: 10px 0;
}
.narrow {
  width: 100px;
  height: 150px;
}
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.none {
  object-fit: none;
}
.scale-down {
  object-fit: scale-down;
}

/* NOTES MODULES ================================================================================ */
#outputContainer {
background-color: white;
padding: 10px;
margin-top: 5px;
margin-bottom: 5px;
margin-left: 75px;
margin-right: 75px;
min-height: 36px;
border: solid black 0.5px;
}

/* #outputText {

  all: initial;
    * {
        all: unset;
    }
} */


#outputText p {
      margin-bottom: 10px;
      font-size: 1rem;
    }

#outputText pre {
      background-color: black;
      padding: 2px;
      --widthA: fit-content;
      --widthB: calc(--widthA + 5px);
      width: min-content;
      padding: 1em;
      color: white;
      margin: 10px 0px;
      border-radius: 5px;
    }

.noteDiv {
  cursor: pointer;
  color: #D8315B;
  text-align: right;
  float:right;
  margin-top: -10px;
  margin-right: -5px;
}

.ql-toolbar {
  background:  lightgray;
}

 svg {
    width: 100%;
    height: auto;
  }

  .quillModal {
  height: 500px;
  width: 1000px;
}

.ql-editor {
  color: initial;
}
